body {
  font-family: sans-serif;
}

.col {
  border: solid black 1px;
  width: 60px;
  height: 60px;
  text-align: center;
  row-gap: 0px;
  margin: 0px;
}

.row {
  margin: 0px;
}

.progress {
  width: 300px;
}
